.container-text {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-chart {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-top: 50px;
}

.btn-item-chart {
  font-family: "Montserrat", "Inter", sans-serif;
  background-color: transparent;
  outline: none;
  border: 2.5px solid #b3b3b3;
  border-radius: 60px;
  padding: 10px 40px;
  font-size: 30px;
  transition: border 250ms ease-in-out;
}

.btn-item-chart:hover {
  border: 2.5px solid #080808;
}

.btn-chart-active {
  border: 2.5px solid #080808;
}

.size-content {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-size-type {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.btn-item-size-type {
  font-family: "Montserrat", "Inter", sans-serif;
  background-color: #b3b3b3;
  outline: none;
  border: 2.5px solid #080808;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 60px;
  transition: background-color 250ms ease-in-out;
}

.btn-item-size-type:hover {
  border: 2.5px solid #080808;
  background-color: #fff;
}

.btn-item-size-type-active {
  border: 2.5px solid #080808;
  background-color: lightgreen;
}

.image-info {
  position: relative;
}

.text-content-container {
  padding-top: 30px;
}

.size-content-1 {
  position: absolute;
  top: 163px;
  left: 60px;
  width: 68px;
  padding: 5px;
  text-align: center;
  border-radius: 50px;
  background-color: #fff;
  border: 1px solid #ee6700;
}

.size-content-2 {
  position: absolute;
  top: 264px;
  left: 74px;
  width: 68px;
  padding: 5px;
  text-align: center;
  border-radius: 50px;
  background-color: #fff;
  border: 1px solid #ee6700;
}

.size-content-3 {
  position: absolute;
  top: 216px;
  left: 67px;
  width: 68px;
  padding: 5px;
  text-align: center;
  border-radius: 50px;
  background-color: #fff;
  border: 1px solid #ee6700;
}

.info-container-image {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
